.section_head{
    background-color: black;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 75vw;
    max-width: 1000px;
    height: 80px;
    top: 0;
    margin: 0;
    display: flex;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 15px black;
    align-items: center;
}

.nav{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}

.title{
    display: flex;
    width: 20px;

}